.endGameWrapper{
  background-color: black;
  opacity: .85;
  margin: auto;
  position: relative;
  top: 15%;
}

.endGameFooter{
  color: black;
  font-size: .7em;
}
.footerLink{
  color: pink;
  text-decoration: underline;
}
.endGamePlayerScore{
  font-size: 1.7rem;
}

.endGameAiScore{
  font-size: 1.7rem;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: .6rem;
  }
  .subtext{
    font-size: 25px;
  }
  .endGame{
    font-size: 35px;
  }

}