*{
  margin: 0;
}
.App {
  text-align: center;
}

.background{
  background-image: url('./images/groupCat.jpg');
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: white;
}

